@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --regular: 400;
  --normal: 500;
  --bold: 700;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  color: var(--very-dark-cyan);
}

.calc-body {
  width: 35rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 3rem;
  transition: width 1s ease;
}

.input-container {
  width: 100%;
  height: 35rem;
  font-weight: var(--bold);
  color: var(--dark-grayish-cyan);
}

.tip-buttons-container {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.tip-button {
  flex: 0 1 48%;
  display: block;
  padding: 0.7rem 0;
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--very-dark-cyan);
  font-weight: var(--bold);
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

.tip-button:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-input {
  flex: 0 1 48%;
  display: block;
  overflow: hidden;
  padding: 0.7rem 1rem;
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  background-color: var(--light-grayish-cyan2);
  color: var(--very-dark-cyan);
  font-family: "Space Mono", monospace;
  font-weight: var(--bold);
  text-align: right;
  cursor: pointer;
}

/* .tip-input:focus {
  border: 1.5px solid var(--strong-cyan);
} */

.lable {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
}

.input {
  background-color: var(--light-grayish-cyan2);
  outline: none;
  border: 1.5px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  width: 99%;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  color: var(--very-dark-cyan);
  text-align: right;
  font-weight: var(--bold);
}
/* 
.bill-input:focus {
  border: 1.5px solid var(--strong-cyan);
} */
/* 
.people-count-input:focus {
  border: 1.5px solid orange;
} */

.bill-input-wrapper {
  position: relative;
}
.dolar-icon {
  position: absolute;
  top: 4.2rem;
  left: 1rem;
}

.people-count-wrapper {
  position: relative;
}

.warning-message {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: orange;
  display: none;
}


.person-icon {
  position: absolute;
  top: 4.2rem;
  left: 1rem;
}



.output-container {
  width: 100%;
  height: 23rem;
  background: var(--very-dark-cyan);
  border-radius: 2rem;
  padding: 3rem 2rem;
  margin-top: 2rem;
}

.tip-wrapper {
  display: flex;
  justify-content: space-between;
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0rem;
}

.amount p {
  font-size: 2.5rem;
  font-weight: var(--bold);
  color: var(--strong-cyan);
}

.text p {
  color: var(--white);
  font-weight: var(--bold);
  font-size: 1.5rem;
}

.text span {
  color: var(--dark-grayish-cyan2);
}

.reset-button {
  width: 100%;
  padding: 0.8rem 0rem;
  font-family: "Space Mono", monospace;
  font-weight: var(--bold);
  letter-spacing: 0.2rem;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border: none;
  border-radius: 0.5rem;
}

.reset-button:hover {
  background-color: var(--light-grayish-cyan);
}

@media (min-width: 768px) {
  .calc-body {
    display: flex;
    width: 70rem;
  }

  .lable {
    margin-top: 1.5rem;
  }
  .output-container {
    height: 100%;
    margin: 0 0 0 2rem;
  }

  .tip-wrapper {
    margin-top: 1rem;
  }
  .total-wrapper {
    margin-top: 5rem;
  }
  .reset-button {
    margin-top: 8rem;
  }

  .calc-body {
    padding: 4rem 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
